@font-face {
  font-family: 'OPTITimes-Roman';
  src: url('../Font/OPTITimes-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  font-family: 'OPTITimes-Roman', serif;
  color: #000;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.form-container {
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}

.form-container label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
}

.form-container input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'OPTITimes-Roman', serif;
}

.form-container button {
  margin-top: 25px;
  padding: 12px;
  width: 100%;
  background-color: #1C4C7D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #163a5a;
}

.preview-container {
  width: 793px;
  /* largura A4 */
  height: 1122px;
  /* altura A4 */
  overflow: hidden;
  /* evita que conteúdo extrapole */
  padding: 40px 50px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'OPTITimes-Roman', serif;
  color: #000;
}


.logo-prefeitura {
  width: 120px;
  margin: 0 auto 30px auto;
  display: block;
}

.center {
  font-size: 10pt;
  text-align: center;

}

.titulo-gabinete {
  font-size: 10pt;
  margin-bottom: 15px;
  font-weight: 700;
}

p {
  margin: 0 auto;
  width: 90%;
  font-size: 10pt;
  line-height: 1.5;
  margin-bottom: 18px;
  text-align: justify;
  font-family: 'OPTITimes-Roman', serif;
  color: #000;
}

.rodape {
  margin-top: auto;
}

.rodape hr {
  border: none;
  border-top: 1px solid #888;
  margin: 0px 0 0px 0;
}

.rodape-texto {
  font-size: 13px;
  color: #666;
  text-align: center;
  font-family: 'OPTITimes-Roman', serif;
}